.dodaj_p {
    display: block;
    position: relative;
    color:white !important;
    justify-content: center;
    align-items: center;

}

.dodaj_p::after {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    right: -5px;
    left: -5px;
    bottom: -5px;
    z-index: 1;
    background-image: linear-gradient(to bottom right, black, rgb(46, 196, 26));
    border-radius: 5px;
}

.form-in_p{
    position: relative;
    display: block;
    background-color: rgb(46, 196, 26);
    padding: 30px;
    z-index: 2;
    text-align: center;
    align-items: center;
    border-radius: 8px;

}

.dodajocene_p{
    position:static;
    display: flex; 
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.marksubmit_p {
    margin: 15px !important;
    color: white !important;
    padding: 10px !important;
    border-radius: 8px !important;
    background-size: 300% !important;
    background-position: 0% !important;
    color: white !important;
    font-weight: 800 !important ;
    cursor: pointer !important;
    background-color: rgb(56, 126, 6)!important
}

.marksubmit_param{
    background-image: linear-gradient(to left, rgb(56,120,10), green );
}
.form-in_p > input {
    background-color: white;
    border-radius: 8px;
    padding: 5px 10px;
}
