
.dodaje {
    display: block;
    position: relative;
    color: white;
  }
  
  .dodaje::after {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    right: -5px;
    left: -5px;
    bottom: -5px;
    z-index: 1;
    background-image: linear-gradient(to bottom right, blue, #060b26);
    border-radius: 5px;
  }
  
  .formnauk{
      position:static;
      display: flex; 
      height: 90vh;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      background-color: white;
    }
  
    .form-ine{
      position: relative;
      display: block;
      background-color: #060b26;
      padding: 30px;
      z-index: 2;
      text-align: center;
      align-items: center;
      border-radius: 8px;
  
  }
  .form-ine > input {
      background-color: white;
      border-radius: 5px;
      width: 100%;
      padding: 5px 10px;
      color: black;
      align-items: center;
      z-index: 2;
    }
    
    .form-ine input[type="submit"]{
      margin: 15px;
      color: white;
      padding: 10px;
      border-radius: 8px;
      background-size: 300%;
      background-position: 0%;
      color: white;
      font-weight: 800;
      cursor: pointer;
      background-color: rgb(1, 1, 93);
    }
  